alabaster==0.7.12
arrow==0.15.2
awscli==1.16.271
Babel==2.7.0
beautifulsoup4==4.8.1
binaryornot==0.4.4
botocore==1.13.7
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
cookiecutter==1.6.0
coverage==4.5.4
docutils==0.15.2
entrypoints==0.3
flake8==3.7.9
future==0.18.1
idna==2.8
imagesize==1.1.0
Jinja2==2.10.3
jinja2-time==0.2.0
jmespath==0.9.4
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.17.3
packaging==19.2
pandas==0.25.3
pbr==5.4.3
poyo==0.5.0
pyasn1==0.4.7
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pyparsing==2.4.2
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
rsa==3.4.2
s3transfer==0.2.1
six==1.12.0
snowballstemmer==2.0.0
soupsieve==1.9.4
Sphinx==2.2.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
-e git+https://github.com/sebastian-konicz/WRM.git@93201ca2bbf9a13f274ec970fc3d9929a4101a75#egg=src
stevedore==1.31.0
urllib3==1.25.6
virtualenv==16.7.7
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
whichcraft==0.6.1
